/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/debugbar.php
composer.json
composer.lock
cap_config.json
.vscode/launch.json
.tmp.driveupload/
tasks/report_journey_cfg.json
